/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.container2 {
    width: 50%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* Top Header */
.top-header {
    background: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
}

/* Main Header */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin: 5px 0 0;
}

/* Bottom Header */
.bottom-header {
    background: #f4f4f4;
    padding: 10px 0;
}

.bottom-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.bottom-header nav ul li {
    display: inline;
    margin: 0 15px;
}

.bottom-header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.bottom-header nav ul li a:hover {
    color: #007BFF;
}

/* Main Content */
main {
    margin: 20px 0;
}

article {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

article h2 {
    margin: 0 0 10px;
    color: #333;
}

article .date {
    font-size: 0.9rem;
    color: #666;
}

article p {
    margin: 0 0 10px;
}

article a {
    color: #007BFF;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    display: flex;
    justify-content: center;
}

.postTitle {
    display: flex;
    justify-content: center;
}

.image-post {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
}

.container-show {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;

}
